<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9ec1a011-3cd7-42e2-830a-9c4b5a4084e5/resourceGroups/churrasshowgroup/providers/Microsoft.Web/sites/churrasshowwebapi</ResourceId>
    <ResourceGroup>churrasshowgroup</ResourceGroup>
    <ApiResourceId>/subscriptions/9ec1a011-3cd7-42e2-830a-9c4b5a4084e5/resourceGroups/churrasshowgroup/providers/Microsoft.ApiManagement/service/apiwebchurrasshowapi/apis/apiwebchurrasshow</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://churrasshowwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d2ec113e-ae10-44ec-986a-30185f942841</ProjectGuid>
    <MSDeployServiceURL>churrasshowwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>churrasshowwebapi</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$churrasshowwebapi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvWq0CrvjVECgcmMuuAzkzQAAAAACAAAAAAADZgAAwAAAABAAAAAgbXEvJDe/49haXhPYaB+2AAAAAASAAACgAAAAEAAAAHgKtiRxZqIC9LhMvtC65oaAAAAA2CS74gaY326HQPEjkxJA19GJiarvZC2AmOjrI1bNFDve/2DUIB1BeNgR9xrvHQ9SLDt35EOZ732caz8KJP4h8tprw4vVe++IiKsB1Dy5h1cbm6PJ+fGZksVCacHBBIB7l5NEaMp2FO9voc1SkVnSq8JJDYQ52KQiFhesg4JP4CsUAAAAyT3C29jd7fKXo00dHauztUBqOpM=</EncryptedPassword>
    <History>False|2024-06-14T13:41:14.4847314Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>